body {
  position: relative;
  font-family: 'Nunito', sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  margin: 0 2.5em 0.5em;
  padding-top: 1rem;
}

header h1 {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.3rem;
  color:rgb(80, 80, 80);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 1em;
  margin: 0 2em;
  max-width: 100%;
  overflow: hidden;
}

.card {
  display: grid;
  align-items: center;
  gap: 0.5em;
  grid-template-columns: 1fr 70%;
  grid-auto-flow: column;
  overflow: hidden;
  border: 2px solid rgb(220, 220, 220);
  border-radius: 5px;
  padding: .6em;
  margin: 0.5em;
  max-width: 100%;
  color:rgb(80, 80, 80);
  transition: 0.2s ease-in-out;
}

.card:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.text-container h2,
p {
  margin: 0.5rem auto;
}

.card .avatar {
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
  padding: 0.5em;
}

.modal-content .avatar {
  border-radius: 50%;
  margin-bottom: 1rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(100, 100, 100, 0.4);
  height: 100vh;
}

.modal {
  grid-template-columns: 10% 1fr 10%;
  grid-template-rows: 10% 1fr;
  width: 375px;
  margin: 15% auto auto;
  position: relative;
  text-align: center;
  background: #fff;
  border: 1px solid #778;
  border-radius: 10px;
  padding: 30px 20px;
}

.modal-close {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
  background: none;
  border: none;
  font-weight: 300;
  font-size: 1.3em
}

.text-container hr {
  margin: 2em auto;
  max-width: 90%;
}

.hidden {
  display: none;
}

@media (min-width: 1024px) {
   
  header {
    flex-direction: row;
    justify-content: space-between;
  }
  
}